/Laboratorio3/MPLAB/Laboratorio3.X/build/
/Laboratorio3/MPLAB/Laboratorio3.X/dist/
/Laboratorio4/MPLAB/Laboratorio4.X/dist/
/Laboratorio4/MPLAB/Laboratorio4.X/build/
/Laboratorio5/MPLAB/Laboratorio5.X/build/
/Laboratorio5/MPLAB/Laboratorio5.X/dist/