/Laboratorio3/MPLAB/Laboratorio3.X/build/
/Laboratorio3/MPLAB/Laboratorio3.X/dist/
/Laboratorio4/MPLAB/Laboratorio4.X/dist/
/Laboratorio4/MPLAB/Laboratorio4.X/build/
/Laboratorio5/MPLAB/Laboratorio5.X/build/
/Laboratorio5/MPLAB/Laboratorio5.X/dist/
/Proyecto1/MPLAB/Proyecto1.X/build/
/Proyecto1/MPLAB/Proyecto1.X/dist/
/Laboratorio6/MPLAB/build/
/Laboratorio6/MPLAB/dist/
/Laboratorio7/MPLAB/Laboratorio7.X/build/
/Laboratorio7/MPLAB/Laboratorio7.X/dist/
/Laboratorio8/MPLAB/Laboratorio8.X/dist/
/Laboratorio8/MPLAB/Laboratorio8.X/build/
/Laboratorio9/MPLAB/Laboratorio9.X/dist/
/Laboratorio9/MPLAB/Laboratorio9.X/build/
/Laboratorio10/MPLAB/Laboratorio10.X/dist/
/Laboratorio10/MPLAB/Laboratorio10.X/build/
/Proyecto2/MPLAB/Proyecto2.X/build/
/Proyecto2/MPLAB/Proyecto2.X/dist/